/* Write your CSS here */

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 8px;
}

.label-button {
  margin-left: 0px;

  align-self: self-start;
}
.todo-items {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  align-items: center;
  width: 30vw;
}
.textArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  width: 37vw;
}

.checked {
  text-decoration: line-through;
}
.btn {
  align-self: self-start;
  margin-left: 33px;

}
p {
  color: aquamarine;
}
p{
  color: #e2e8f0  ;
 margin: 23px;   

  
}

